.main-header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding: 0 2rem;
	background: #0075a2;

	h1 {
		color: #fff;
	}
}
